.menu {
  @include flex($y: center, $dir: column, $yGap: 15px);
  position: absolute;
  background-color: #fafbff;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #d9d9d9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
  width: var(--var-width);
  height: var(--var-height);
  &--collapse {
    left: -72px;
  }
  &--expand {
    left: 10px;
  }
  &--overflow {
    width: 100vw;
    height: 100vh;
    left: 0px;
    border-radius: 0px;
  }
  &-logo {
    margin: 0.75em 0;
    cursor: pointer;
    div {
      line-height: 1em;
    }
  }
  &-divide {
    border-top: 1px solid #e8e9e9;
    width: 100%;
  }
  &-app {
    @include flex($y: center, $dir: column, $yGap: 20px);
    margin: 5px 0;
    &-single {
      cursor: pointer;
      height: 40px;
      aspect-ratio: 1;
      @include flex($x: center, $y: center);
      background-color: transparent;
      transition: all 0.1s;
      &:hover {
        background-color: #e7ebf6;
        border-radius: 10px;
        div {
          color: #000000 !important;
        }
      }
    }
  }
  &-avatar {
    width: 30px;
    height: 30px;
  }
  &-full {
    margin: 0.25em 0 0.5em 0;
    cursor: pointer;
    height: 40px;
    aspect-ratio: 1;
    @include flex($x: center, $y: center);
    &:hover {
      background-color: #e7ebf6;
      border-radius: 10px;
    }
    div {
      line-height: 1em;
    }
  }
}
