@font-face {
  font-family: 'agendaKing';
  src:
    url('~@/asset/font/agendaKing/agendaKing.woff') format('woff'),
    url('~@/asset/font/agendaKing/agendaKing.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'iconFont';
  src:
    url('~@/asset/iconFont/iconfont.woff2?t=1720516178026') format('woff2'),
    url('~@/asset/iconFont/iconfont.woff?t=1720516178026') format('woff'),
    url('~@/asset/iconFont/iconfont.ttf?t=1720516178026') format('truetype');
  font-display: fallback;
}
